.ouedknissed-primary-btn
{
	background-color: map-get($colors, primary) !important;
	color: white !important;
}
.ouedknissed-secondary-btn
{
		background-color: map-get($colors, secondary) !important;
		color: white !important;
}
