/**
 * Applying a DRY SCSS lol 
 */ 

 /**
	* Basically its a semantic UI thing, that you have to set the margin-top with a default level from the menu
	*/ 

	
 .margin-top
 {
	 margin-top: 10vh !important; 
 }
 .margin-x-top 
 {
	 margin-top: 25vh !important;
 }
 .margin-bottom
 {
	 margin-bottom: 10vh !important;
 }
