header.ui.vertical.masthead.basic.segment.header {
  height: 40vh;
  background-color: #F96913; }

/** 
 * Mobile
 */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  #header-search-input {
    width: 80vw !important; }

  header.ui.vertical.masthead.basic.segment.header {
    height: 70vh !important; } }
/**
 * Tablet
 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header-search-input {
    width: 50vw !important; } }
/**
 * Computer|Large screens
 */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #header-search-input {
    width: 40vw !important; } }
/** 
 * Extra large screen
 */
@media only screen and (min-width: 1200px) {
  #header-search-input {
    width: 40vw !important; } }
